*~
*.swp
*.swo

TrajOptKP_apptainer
TrajOptKP.img

TrajOptKP/*
mujoco/*

!home/
home/*

!home/catkin_ws
home/catkin_ws/*

!home/catkin_ws/src
home/catkin_ws/src/*

!home/catkin_ws/src/leeds_demos

!home/.bashrc
!home/catkin_ws/src/CMakeLists.txt

TrajOptKP.sif
